<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}" lang="ja">

<main layout:fragment="content">
    <h1>Edit Article</h1>
    <form th:action="@{'/admin/edit/' + ${id}}" method="post" th:object="${articleCreateForm}">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" th:field="*{title}" />
            <span th:errors="*{title}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="title">Write Date</label>
            <input class="form-control" type="date" id="write-date" name="writeDate" th:field="*{writeDate}" />
            <span th:errors="*{writeDate}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="content">Content</label>
            <textarea class="form-control" rows="3" id="content" name="content" th:field="*{content}"></textarea>
            <span th:errors="*{content}"></span>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</main>

</html>