<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 th:text="${article.title}"></h1>
        <p th:text="${article.writeDate}"></p>
        <p th:text="${article.content}"></p>
    </main>
    <footer>
        <p>&copy; 2025 Personal Blog. All rights reserved.</p>
    </footer>
</body>

</html>