<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}" lang="ja">

<main layout:fragment="content">
    <h1>Personal Blog</h1>
    <div th:each="article : ${articles}">
        <a class="grid-container" th:href="@{'/article/' + ${article.id}}">
            <span class="grid-item" th:text="${article.title}">My first article</span>
            <span class="grid-item grid-item__date" th:text="${article.writeDate}"></span>
        </a>
    </div>
</main>

</html>